* {
	margin: 0 auto;
}

body {
	background: black;
	color: silver;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

button {
	position: absolute;
}

#main {
	margin-top: 40px;
	width: 361px;
	height: 645px;
	position: relative;

}

#left-edge {
	position: absolute;
	width: 30px;
	height: 600px;
	left: -5px;
	top: 60px;
	background: linear-gradient(0.75turn, #3f87a6, #ebf8e1, #405060);
}

#left-edge:before {
  background: inherit;
  top: -30px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(45deg);
  transform-origin: 0;
  z-index: -1;
}

#left-edge:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-45deg);
  transform-origin: 100%;
  z-index: -1;
}


#right-edge {
	position: absolute;
	width: 30px;
	height: 600px;
	right: -5px;
	top: 60px;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #405060);
}

#right-edge:before {
  background: inherit;
  top: -30px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-45deg);
  transform-origin: 100%;
  z-index: -1;
}

#right-edge:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(45deg);
  transform-origin: 0;
  z-index: -1;
}

#bottom-edge {
	position: absolute;
	width: 371px;
	height: 30px;
	left: -5px;
	bottom: -46px;
	background: linear-gradient(0.50turn, #3f87a6, #ebf8e1, #405060);
	z-index: -10;
}

#top-edge {
	position: absolute;
	width: 371px;
	height: 30px;
	left:  -5px;
	top: 30px;
	background: linear-gradient(0turn, #3f87a6, #ebf8e1, #405060);
	z-index: -10;
}

#play-area {
	width: 310px;
	height: 620px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;

}

#preview-container {
	width: 361px;
	height: 62px;
	position: absolute;
	display: flex;
	justify-content: center;


}

#preview-area {
	width: 124px;
	height: 62px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	top: -32px;
}

.cell {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	z-index: -11;
}

.has-block {
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.i-piece {
	background: red;
}

.t-piece {
	background: teal;
}

.s-piece {
	background: purple;
}

.z-piece {
	background: green;
}

.j-piece {
	background: blue;
}

.l-piece {
	background: darkorange;
}

.o-piece {
	background: yellow;
}

















